@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;   
    max-width: 370px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;   
    animation: mine 3s infinite linear 2s;
}
@keyframes mine{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotateY(10deg);
        box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.5);
    }
    50%{
        transform: rotateY(0deg);    
    }
    75%{
        box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.3);
        transform: rotateY(-10deg);
    }
}

.img{
    position: relative;
    height: 150px;
    border-radius: 50%; 
    width: 150px;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
    transition: all 0.3s ease ;
}
.img:hover{
    transform: scale(1.1);
}
.pp{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
}
.profile .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.text .name{
    font-size: 22px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.1s;
}
.text .name:hover{
    font-weight: 700;
    text-shadow: 1px 0 2px;
}
.text .job{
    font-size:15px;
    white-space: nowrap;
    font-weight: 400;
}
.text .job:hover{
    font-weight: 700;
    text-shadow: 1px 0 2px;
}
.profile .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
}
.profile .link{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #4070f4;
    margin: 1px 8px;
    transition: all 0.1s linear;
}
.profile .link:hover{
    transform: scale(1.1);
}
.insta{
    background-image: -webkit-linear-gradient(bottom left, #feda75,  #fa7e1e, #d62976, #962fbf,  #4f5bd5);
}
.profile .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.profile .button{
    background-color: #4070f4;
    padding: 8px;
    border-radius: 15px;
    margin: 0 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.1s ease;
}
.profile :is(.button:hover, .button:focus){
    background-color: #0e4bf1;
    transform: scale(1.1);
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.603);
}
.profile .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.profile .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;

}
.profile .data:last-child{
    border: none;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
    transition: all 0.5s ease;
    box-sizing: content-box;
}
.data i:hover{
    transform: rotate(360deg);
    color: red;
    
}
.profile::before{
    content: '';
    position: absolute;
    height: 36% ;
    width: 100%;
    background-color: #4070f4;
    top: 0;
    border-radius: 24px 24px 0 0;
}
